<div class="form-group">
  <label>{{form.title}}</label>
  <div ng-class="{'input-group': (form.fieldAddonLeft || form.fieldAddonRight)}">
    <span ng-if="form.fieldAddonLeft"
          class="input-group-addon"
          ng-bind-html="form.fieldAddonLeft"></span>
    <input name='tel'
           class="form-control"
           sf-field-model
           ng-intl-tel-input
           schema-validate="form"
           type="tel"
           data-selected-country="form.telCountry"
           data-initial-country="us" />
    </input>
    <span ng-if="form.fieldAddonLeft"
          class="input-group-addon"
          ng-bind-html="form.fieldAddonLeft"></span>
  </div>

  <span class="help-block" sf-message>{{ (hasError() && errorMessage(schemaError())) || form.description}}</span>
</div>
