<div class="form-group {{form.htmlClass}} schema-form-intl-tel-input"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false, 'required': form.required === true}">
  <label class="control-label" ng-show="showTitle()">{{form.title}}</label>
  <input name="{{form.key.slice(-1)[0]}}"
         class="form-control {{form.fieldHtmlClass}}"
         sf-field-model
         ng-intl-tel-input
         ng-model="$$value$$"
         schema-validate="form"
         type="tel"
         data-selected-country="form.telCountry"
         data-initial-country="us"
         sf-changed="form"
         ng-disabled="form.readonly">
  </input>

  <span ng-if="form.feedback !== false"
        class="form-control-feedback"
        ng-class="evalInScope(form.feedback) || {'glyphicon': true, 'glyphicon-ok': form.disableSuccessState !== true && hasSuccess(), 'glyphicon-remove': form.disableErrorState !== true && hasError() }"
        aria-hidden="true">
  </span>
  <div class="help-block" sf-message="form.description"></div>
</div>
